body{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.side{
    height: 95px;
    width: 95px;
    line-height: 90px;
    position: absolute;
    text-align: center;
    color: #ffff;
    font-size: 20px;
    background-color: #5c90ffd1;
}

.top{
    transform: rotate(-45deg) skew(15deg, 15deg);
}

.left{
    transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
}
.right{
    transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
}