body{
    background-color: #ffff;
    height: 100vh;
    margin: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align:center;
    border: 8px solid #f3f3f3;
    border-top: 8px solid rgb(52, 196, 253);
    border-radius: 50%;
    animation: spin 2s infinite linear;
}
@keyframes spin {
    0%{
        transform:rotate(360deg);
    }
}